*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: initial;
    text-decoration: none;
}

header{
    background-image: url(imagenes/estanan.jpg);
    background-position: center;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container {
     max-width: 1000px;
    margin: 0 auto;
    width: 100%;
   
}

.menu {
    position: absolute;
    top: 10px;
    left: 15px;
    right: 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
    z-index: 1000;
    transition: transform 0.5s ease; 
}

.menu .home {
    font: 1em Helvetica;
    font-weight: bold;
    font-size: 20px;
    color: #b260e8;
}

.menu .navbar ul { 
    list-style: none;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color:azure;
    display: block;
}

.menu .navbar ul li a:hover {
    color: rgb(44, 161, 203);
    transform: scale(1.3);
}

menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-text {
    text-align: center;
    width: 750px;
}

.header-text h1 {
    font: 1em Andromeda; 
    cursor: default;
    color:aliceblue;
    text-align: right;
    font-size: 55px;
    position: relative;
    animation: moverTexto 2s linear infinite;
    max-width: 1000px;
    margin: 0 auto;

}



.header-text p {
    color: azure;
    font: 1em "Latin Modern Roman";
    cursor: default;
    text-align: right;
    font-size: 20px;
    margin-top: 30px;
 
}

    
@media screen and (max-width: 1000px){

    .header {
        background-size: contain;       /* Ajusta la imagen para que esté completamente contenida */
        height: 1000px;   
    }


    .header-text h1 {
        width: 100%;
        
    }

    .menu .navbar ul a {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .header-text p {
        width: 100%;
        left: 100%;
    }


@media screen and (max-width: 500px){


    .header {
        background-size: contain;       /* La imagen se ajusta para que esté completamente visible */
        background-position:right;    /* Centra la imagen */
        height: 100px; 
        width: 100px;
    }


    .header-text h1 {
        width: 100%;
        display:inline;
        
    }


    .menu .navbar ul a {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .header-text p {
        width: 100%;
        display: inline-block;
        
    }



   
}
}
